body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dark-mode{
  background-color: black;
  color: #ffffff;
}

.light-mode{
  background-color: white;
  color: black;
}

.badge-width .badge{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
}
.badge-width .badge:empty{
  display: flex !important;
}
